.extensionPopup {
    position: absolute;
    z-index: 9999999;
    list-style-type: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    padding: 4px;
    opacity: .9;
}
.extensionPopup::-ms-expand {
    display: none;
}
